<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
		<typeAlias type="make.mini.web.vo.MiniMember" alias="member" />
		<typeAlias type="make.mini.web.vo.MiniBoard" alias="board" />
		<typeAlias type="make.mini.web.vo.MiniReply" alias="reply" />
		<typeAlias type="make.mini.web.vo.MiniGallery" alias="gal" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
		<mapper resource="mapper/galleryMapper.xml"/>
	</mappers> 
</configuration>
