<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
 		<typeAlias type="com.bluemine.www.vo.CKList" alias="ckList"/>
 		<typeAlias type="com.bluemine.www.vo.CP_Department" alias="cpDepartment"/>
 		<typeAlias type="com.bluemine.www.vo.CP_Position" alias="cpPosition"/>
 		<typeAlias type="com.bluemine.www.vo.FileInfo" alias="fileInfo"/>
 		<typeAlias type="com.bluemine.www.vo.GP_Work" alias="gpWork"/>
 		<typeAlias type="com.bluemine.www.vo.MatchPRJ" alias="matchPrj"/>
 		<typeAlias type="com.bluemine.www.vo.PJ_Group" alias="group"/>
 		<typeAlias type="com.bluemine.www.vo.PRJList" alias="prjList"/>
 		<typeAlias type="com.bluemine.www.vo.PS_Work" alias="psWork"/>
 		<typeAlias type="com.bluemine.www.vo.TimeLine" alias="timeLine"/>
 		<typeAlias type="com.bluemine.www.vo.UserInfo" alias="userInfo"/>
 		<typeAlias type="com.bluemine.www.vo.CK_Show" alias="ckShow"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userInfoMapper.xml"/>
		<mapper resource="mapper/timeLineMapper.xml"/>
		<mapper resource="mapper/positionMapper.xml"/>
		<mapper resource="mapper/groupMapper.xml"/>
		<mapper resource="mapper/projectMapper.xml"/>
		<mapper resource="mapper/myScheduleMapper.xml"/>
	</mappers> 
</configuration>
