<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 파일 SQL -->
<mapper namespace="com.bluemine.www.interfaces.fileInfoMapper">
<!-- 파일 업로드 -->
<insert id="addFile" parameterType="fileInfo">
INSERT INTO FILEINFO(
    TL_NUM,
    ORIGINALFILE,
    SAVEFILE
)VALUES(
    #{tl_Num}
    ,#{originalFile}
    ,#{svaeFile}
);
</insert>
<!-- 파일 목록 -->
<select id="getFileList" resultType="fileInfo">
select
    tl_Num
    ,originalFile
    ,saveFile
from
    FILEINFO
Where
    tl_Num=#{tl_Num}
order by saveFile
</select>

</mapper>