<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 프로젝트 처리 SQL -->
<mapper namespace="com.bluemine.www.interfaces..GP_WorkMapper">
<!-- 그룹 스케줄 생성 -->
<insert id="insertGP_Work" parameterType="gpWork">
insert into gp_work (
	gs_num,
	gs_name,
	gp_num,
	gs_content,
	director,
	start_date,
	deadline,
	rstart_date,
	rdeadline,
	gp_pri,
	progress
)values(
	gs_seq.nextval,
	#{gs_Name},
	#{gp_Num},
	#{gs_Content},
	#{director},
	#{start_Date},
	#{deadLine},
	#{rStart_Date},
	#{rDeadLine},
	#{gp_Pri},
	#{progress}
)
</insert>
<!-- 그룹 스케줄 수정 -->
<update id="updateGP_Work" parameterType="gpWork">
update gp_work
set 
	gp_num=gp_num
	<if test="gs_Name!=null">
	, gs_name=#{gs_Name}
	</if>
	<if test="gs_Content!=null">
	, gs_content=#{gs_Content}
	</if>
	<if test="director!=null">
	, director=#{director}
	</if>
	<if test="start_Date!=null">
	, start_date=#{start_Date}
	</if>
	<if test="deadLine!=null">
	, deadline=#{deadLine}
	</if>
	<if test="rStart_Date!=null">
	, rstart_date=#{rStart_Date}
	</if>
	<if test="rDeadLine!=null">
	, rdeadline=#{rDeadLine}
	</if>
	<if test="gp_Pri!=null">
	, gp_pri=#{gp_Pri}
	</if>
	<if test="progress!=null">
	, progress=#{progress}
	</if>
where 
	gs_Num=#{value}
</update>
<!-- 그룹 스케줄 목록 ex) 디폴트 {'gs_Num':gs_Num, 'sort':null} 진행도순 {'gs_Num':gs_Num, 
		'sort':'progress'} -->
<select id="getListGP_Work" parameterType="map"
resultType="gpWork">
select
	gs_num
	,gs_name
	,gp_num
	,gs_content
	,director
	,start_date
	,deadline
	,rstart_date
	,rdeadline
	,gp_pri
	,progress
from gp_work
where gs_num=#{gs_num}
order by
	<if test="sort!=null">
	gs_num
	</if>
	#{sort}
	</select>
</mapper>