<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 그룹 SQL -->
<mapper namespace="com.bluemine.www.interfaces.GroupMapper">

<!-- 그룹 생성 -->
<insert id="addGroup" parameterType="group">
<selectKey resultType="int" keyProperty="gp_Num" order="BEFORE">
SELECT
	GP_SEQ.NEXTVAL
FROM 
	dual
</selectKey>
INSERT INTO PJ_GROUP(
    GP_NUM
    ,PRJ_NUM
    ,GP_NAME
)VALUES(
    #{gp_Num}
    ,#{prj_Num}
    ,#{gp_Name}
)
</insert>

<!-- 그룹 이름 업데이트 -->
<update id="updateGroup" parameterType="group">
UPDATE
	PJ_GROUP
set
GP_Num = gp_Num
<if test="gp_Name != null">
,GP_NAME = #{gp_Name}
</if>
where
	gp_NUM = #{gp_Num}
</update>

<!-- 그룹 생성순으로 조회 -->
<select id="getGpList">
SELECT 
	gp_Num
	,prj_Num
	,gp_Name
FROM
	Pj_group
WHERE
	prj_Num=#{prj_Num}
ORDER BY gp_Num ASC
</select>
<!-- 그룹 스케줄 생성 -->
<insert id="insertGP_Work" parameterType="gpWork">
<selectKey resultType="int" keyProperty="gs_Num" order="BEFORE">
SELECT
	GS_SEQ.NEXTVAL
FROM 
	dual
</selectKey>
insert into gp_work (
	gs_num,
	gs_name,
	gp_num,
	gs_content,
	start_date,
	deadline,
	gp_pri,
	progress
)values(
	#{gs_Num},
	#{gs_Name},
	#{gp_Num},
	#{gs_Content},
	#{start_Date},
	#{deadLine},
	#{gp_Pri},
	#{progress}
)
</insert>
<!-- 그룹 스케줄 수정 -->
<update id="updateGP_Work" parameterType="gpWork">
update gp_work
set
	gp_num=gp_num
	<if test="gs_Name!=null">
	, gs_name=#{gs_Name}
	</if>
	<if test="gs_Content!=null">
	, gs_content=#{gs_Content}
	</if>
	<if test="start_Date!=null">
	, start_date=#{start_Date}
	</if>
	<if test="deadLine!=null">
	, deadline=#{deadLine}
	</if>
	<if test="gp_Pri!=null">
	, gp_pri=#{gp_Pri}
	</if>
	<if test="progress!=null">
	, progress=#{progress}
	</if>
where
	gs_Num=#{value}
</update>
<!-- 그룹 스케줄 목록 ex) 디폴트 {'gs_Num':gs_Num, 'sort':null} 
진행도순 {'gs_Num':gs_Num, 	'sort':'progress'} -->
<select id="getListGP_Work" parameterType="map" resultType="gpWork">
select gs_num
	gs_name,
	gp_num,
	gs_content,
	start_date,
	deadline,
	gp_pri,
	progress 
from gp_work
where
	gs_num=#{gs_num}
order by
	<if test="sort!=null">
	#{sort}
	</if>
	<if test="sort=null">
	gs_num
	</if>		
</select>

<select id="relationGP_Work" parameterType="matchgpWork" >
INSERT into MatchGP_Work(
	gs_num
	,userId
)values(
	#{gs_num}
	,#{userId}
);
</select>
</mapper>