<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 프로젝트 처리 SQL -->
<mapper namespace="com.bluemine.www.dao.groupMapper">

<!-- 그룹 생성 -->
<insert id="" parameterType="group">
INSERT INTO PJ_GROUP(
    GP_NUM
    ,PRJ_NUM
    ,GP_NAME
)VALUES(
    GP_SEQ.NEXTVAL
    ,#{prj_Num}
    ,#{gp_Name}
);
</insert>

<!-- 그룹 이름 업데이트 -->
<update id="" parameterType="group">
UPDATE
	PJ_GROUP
set
<if test="prj_Name != null">
,GP_NAME = #{gp_Name}
</if>
where
	gp_NUM = #{gp_Num}
</update>

<!-- 그룹 생성순으로 조회 -->
<select id="">
SELECT 
	gp_Num
	,prj_Num
	,gp_Name
FROM
	group
WHERE
	prj_Num=#{prj_Num}
ORDER BY gp_Num ASC
</select>
</mapper>