<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 직급 SQL -->
<mapper namespace="com.bluemine.www.dao.positionMapper">
<!-- 직급추가 -->
<insert id="" parameterType="cpPosition">
INSERT INTO CP_POSITION(
    POSITIONNAME
)VALUES(
    #{positionName}
);
</insert>
<!-- 직함명 조회 -->
<select id="" resultType="cpPosition">
SELECT positionName
FROM CP_POSITION
</select>

</mapper>
