<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 개인스케줄 sql -->
<mapper namespace="com.bluemine.www.interfaces.psWorkMapper">

<!-- 스케줄 추가 -->
<insert id="addPsWork" parameterType="psWork">
INSERT INTO PS_WORK(
    PS_NUM
    ,PS_NAME
    ,PS_CONTENT
    ,MEMBERID
    ,START_DATE
    ,DEADLINE
)VALUES(
    PS_SEQ.NEXTVAL
    ,#{ps_Name}
    ,#{ps_Content}
    ,#{memberId}
    ,#{start_Date}
    ,#{deadLine}
);
</insert>

<!-- 스케줄 조회 예상 시작일 순-->
<select id="getPsWList" parameterType="string" resultType="psWork">
Select
    ps_Name
    ,ps_Content
    ,memberId
    ,start_Date
    ,deadLine
FROM
    PS_WORK
Where
    memberId = #{memberId}
Order by start_Date ASC
</select>

</mapper>