<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일감 처리 SQL -->
<mapper namespace="com.bluemine.www.interfaces.TaskMapper">
	<!-- group 가져오기 -->
	<select id="selectGroup" parameterType="int" resultType="group">
		select
			gp_Num
			, prj_Num
			, gp_Name
		from
			PJ_GROUP
		where
			prj_Num = #{prjNum}
	</select>
	
	<!-- Task 가져오기 -->
	<select id="printTask" parameterType="int" resultType="gpWork">
		select
			gs_Num
			, gs_Name
			, gp_Num
			, gs_Content
			, start_Date
			, deadLine
			, gp_Pri
			, progress
			, taskCategory
		from
			GP_WORK
		where
			gp_Num = #{gp_Num}
	</select>

	<!-- Task 저장 -->
	<insert id="insertTask" parameterType="gpWork">
		insert into GP_WORK (
			gs_Num
			, gs_Name
			, gp_Num	
			, gs_Content
			, start_Date
			, deadLine
			, gp_Pri
			, taskCategory
		)
		values (
			GS_SEQ.nextval
			, #{gs_Name}
			, #{gp_Num}	
			, #{gs_Content}
			, #{start_Date}
			, #{deadLine}
			, #{gp_Pri}
			, #{taskCategory}
		)
	</insert>
	
	<!-- progress 변경 -->
	<insert id="updateProgress" parameterType="gpWork">
		update 
			GP_WORK 
		set 	
			progress = #{progress}
		where
			gp_Num = #{gp_Num}	
	</insert>

	<!-- 메모 추가 -->
	<insert id="insertMemo" parameterType="timeLine">
		insert into TIMELINE (
			tl_Num
			, prj_Num
			, writer
			, tl_Content
			
		)
		values (
			TL_SEQ.nextval
			, #{prj_Num}
			, #{writer}	
			, #{tl_Content}
		)
	</insert>

	<!-- Task 가져오기 -->
	<select id="selectMatchgpWork" parameterType="String" resultType="matchgpWork">
		select
			gs_Num 
			, userId 
		from
			MATCHGP_WORK
		where
			userId = #{userId}
	</select>
	
	<!-- Task 가져오기 -->
	<select id="selectGpwork" parameterType="int" resultType="gpWork">
		select
			gs_Num
			, gs_Name
			, gp_Num
			, gs_Content
			, start_Date
			, deadLine
			, gp_Pri
			, progress
			, taskCategory
		from
			GP_WORK
		where
			gs_Num = #{gs_Num}
	</select>
	
	<!-- Task 가져오기 -->
	<select id="selectTimeLine" parameterType="int" resultType="timeLine">
		select
			tl_Num
			, prj_Num
			, writer
			, w_Date
			, tl_Content
		from
			TIMELINE
		where
			prj_Num = #{prj_Num}
	</select>

	<select id="selectAllGroups" parameterType="int" resultType="group">
		select
			gp_Num
			, prj_Num
			, gp_Name
		from
			PJ_GROUP
		where
			prj_Num = #{prj_Num}
	</select>
	
	<select id="selectEachGpworks" parameterType="int" resultType="gpWork">
		select
			gs_Num
			, gs_Name
			, gp_Num
			, gs_Content
			, start_Date
			, deadLine
			, gp_Pri
			, progress
			, taskCategory
		from
			GP_WORK
		where
			gp_Num = #{gp_Num}
	</select>
	
	<select id="selectPrjName" parameterType="int" resultType="String">
		select
			prj_Name
		from
			PRJLIST
		where
			prj_Num = #{prj_Num}
	</select>
</mapper>