<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 일감 처리 SQL -->
<mapper namespace="com.bluemine.www.interfaces.TaskMapper">
	<!-- group 가져오기 -->
	<select id="selectGroup" parameterType="int" resultType="group">
		select
			gp_Num
			, prj_Num
			, gp_Name
		from
			PJ_GROUP
		where
			prj_Num = #{prjNum}
	</select>
	
	<!-- Task 가져오기 -->
	<select id="printTask" parameterType="int" resultType="gpWork">
		select
			gs_Num
			, gs_Name
			, gp_Num
			, private String gs_Content
			, start_Date
			, deadLine
			, gp_Pri
			, progress
			, category
		from
			PJ_GROUP
		where
			gp_Num = #{gp_Num}
	</select>
	
	<!-- 파일 저장 -->
	<!-- <insert id="insertFile" parameterType="fileInfo">
		insert into FileInfo (
			prj_Num
			, originalFile
			, saveFile
		)
		values (
			#{prj_Num}
			, #{originalFile}
			, #{saveFile}
		)
	</insert>
 -->	
</mapper>