<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 프로젝트 처리 SQL -->
<mapper namespace="com.bluemine.www.interfaces.TimeLineMapper">
<!-- 타임 라인 글 추가 -->
<insert id="insertTimeLine" parameterType="timeLine">
insert into timeline(
	tl_num
	, prj_num
	, writer
	, w_date
	, tl_content

)values(
	tl_seq.nextval
	, #{prj_Num}
	, #{writer}
	, sysdate
	, #{tl_Content}
	
)
</insert>
<!-- 타임 라인 목록 가져오기(프로젝트번호로) -->
<select id="getTimeLineList" parameterType="map"
resultType="timeLine">
select 
	tl_num
	, prj_num
	, writer
	, w_date
	, tl_content
from
	timeline
where prj_num=prj_num
order by w_date desc
</select>
<!-- 프로젝트 정보 가져오기 -->
<select id="getProjectInfo" parameterType="int" resultType="prjList">
select * from prjlist
</select>
<!-- 타임 라인 글 삭제(게시글 번호) -->
<delete id="deleteTimeLine" parameterType="int">
delete
from timeline
where tl_num=#{value}
</delete>
<!-- 타임 라인 글 수정 -->
<update id="updateTimeLine" parameterType="timeLine">
update timeline
set 
	prj_num=#{prj_Num}
	,w_date = sysdate
	<if test="writer!=null">
	,writer=#{writer}
	</if>
	<if test="tl_Content!=null"> 
	,tl_content = #{tl_Content}
	</if>

where
	tl_num=#{tl_Num}
</update>
<!-- 파일 업로드 -->
<insert id="addFile" parameterType="fileInfo">
INSERT INTO FILEINFO(
    TL_NUM,
    ORIGINALFILE,
    SAVEFILE
)VALUES(
    #{tl_Num}
    ,#{originalFile}
    ,#{svaeFile}
)
</insert>
<!-- 파일 목록 -->
<select id="getFileList" resultType="fileInfo">
select
    tl_Num
    ,originalFile
    ,saveFile
from
    FILEINFO
Where
    tl_Num=#{tl_Num}
order by saveFile
</select>
<!-- 프로젝트별 타임라인 갯수 -->
<select id="getTotal" parameterType="int" resultType="int">
select count(*) from timeline where prj_num=#{value}
</select>
<!-- 프로젝트에 참가한 인원 -->
<select id="getUserList" parameterType="int" resultType="userInfo">
select u.userid, u.EMAIL,
u.NAME, u.PASSWORD, 
u.DEPARTMENT, u.CHATLIST, 
u.POSITION, u.SAVEFILE, u.ORIGINALFILE
from userinfo u, matchprj m where u.userid = m.memberid AND m.prj_num = #{value}
</select>
<!-- 알림 정보 가져오기 -->
<select id="getTriggerInfo" resultType="triggerInfo">
select * from triggerinfo order by update_date asc
</select>
<!-- 알림 정보 삭제 -->
<delete id="deleteTriggerInfo" parameterType="int">
delete from triggerinfo where trigger_num=#{value}
</delete>
</mapper>